@page "/"

<PageTitle>Index</PageTitle>

<div>
    <img src="/forest.jpg" style="width:96%;" />
    <h1 style="position:center; font-family: 'PT Sans Narrow', sans-serif; position: absolute; top: 50%; left: 54%; transform: translate(-50%, -50%); color: white; ">Hello, Student!</h1>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
