@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>BlazorAppTestTask</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" class="oi oi-info" target="_blank"></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code 
{
}

@*<ErrorBoundary @ref="errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="Exception">
                    <p class="error-message">Данные не актуальны! Обновите страницу</p>
                    <button class="btn btn-warning" @onclick="ResetError">Reset</button>
                </ErrorContent>
            </ErrorBoundary>*@
